<p>register works!</p>

<div class="container col-md-12 mt-0">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Sign Up</h3>
                
            </div>
            <div class="card-body">
                <form [formGroup]="registerForm" (ngSubmit)="register()">

                  <div class="input-group form-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-user"></i></span>
                      </div>
                        <input type="text" class="form-control"    formControlName="uname"  placeholder="name"  id="login_uname" required>
                  </div>

              <div class="error"  *ngIf="(this.registerForm.get('uname')?.touched||this.registerForm.get('uname')?.dirty)&&this.registerForm.get('uname')?.errors" >invalid </div>    


                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                       
                        <input type="text" class="form-control"   formControlName="username"  placeholder="usernme"  id="login_accno" required>
                        
                    </div>

              <div class="error"  *ngIf="(this.registerForm.get('userid')?.touched||this.registerForm.get('userid')?.dirty)&&this.registerForm.get('userid')?.errors"   >invalid username</div>    

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                       
                        <input type="password" class="form-control"  formControlName="pwd"   placeholder="password" id="login_password" required>
                    </div>

              <div class="error"  *ngIf="(this.registerForm.get('pwd')?.touched||this.registerForm.get('pwd')?.dirty)&&this.registerForm.get('pwd')?.errors"   >invalid password</div>          
                    
                    <div class="form-group">
                        <input type="submit" value="Register"  class="btn float-right login_btn " style="width:50%" >
                    </div>
                </form>
            </div>
            <p style="color:white;align-items:baseline;">Already exist? <a routerLink="login">Login</a></p>
        </div>
    </div>
</div>
